* {
	all: unset;
	font-family: "Iosevka Nerd Font";
	font-weight: bold;
	font-size: 11pt;
	color: #e0cda5;
}

#main-window {
	border-right: solid 1px #1b1d1d;
	background-color: #000;
	border-radius: 0px;
	margin-right: 10px;
  padding: 4px;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 1);
}

#workspaces {
	border-radius: 8px;
	padding: 13px;
	border: 1px solid #1b1d1d;
	background-color: #000;
}

#workspaces>button {
	/* background-color: #e0cda5; */
  border: 2px solid #e0cda5;
	border-radius: 999px;
	min-width: 6px;
	min-height: 6px;
	transition: all 0.5s cubic-bezier(0, 1, 0, 1);
}

#workspaces>button>label {
	font-size: 0pt;
}

#workspaces>button.active {
	/* background-color: #db4740; */
  border: 2px solid #db4740;
	min-height: 48px;
}

#workspaces>button.empty {
	/* background-color: #47423e; */
  border: 2px solid #47423e;
}

#workspaces>button:hover {
	/* background-color: #db4740; */
  border: 2px solid #db4740;
}

#power-window {
	border: solid 1px;
	background-color: rgba(0, 0, 0, 0.24);
	border-radius: 5px;
	padding: 8px;
}

#shut-down-button,
#reboot-button,
#logout-button {
	border-radius: 2px;
	padding: 7px 12px;
	background-color: #32de8a;
	border-radius: 2px;
}

#shut-down-button {
	background-color: #de6e32;
}

#shut-down-button>label,
#reboot-button>label,
#logout-button>label {
	color: #233c2a;
	font-weight: 900;
	margin-right: 4px;
}

#shut-down-button>label {
	color: #d6f5f0;
}

#time-button {
  transition: all 0.25s ease;
	background-color: #000000;
	border: 1px solid #1b1d1d;
	border-radius: 8px;
	padding: 11px;
}

#time-button:hover {
  background: linear-gradient(#000000, #1b1d1d);
}

#time-separator {
	font-size: 14px;
}

#time-separator.day {
	margin: 0px 0px 0px -5px;
}

#time-separator.night {
	margin: 0px 0px 0px -2px;
}

#module-separator {
	margin: 0px 10px;
	padding: 1px;
	background-color: #1b1d1d;
	border-radius: 999px;
}

#chat-url {
  background-color: #000;
  border-radius: 8px;
  border: 1px solid #1b1d1d;
  padding: 9px;
}

#chat-url label {
  color: #928374;
}

#run-button,
#media-button,
#colorpicker,
#chat-expand,
#chat-reload,
#chat-detach {
	transition: all 0.25s ease;
	background-color: #000;
	border-radius: 8px;
	border: 1px solid #1b1d1d;
}

#run-button:hover,
#media-button:hover,
#colorpicker:hover,
#chat-expand:hover,
#chat-reload:hover,
#chat-detach:hover {
  background: linear-gradient(#000000, #1b1d1d);
}

#run-button-image,
#media-button-image,
#colorpicker-image,
#chat-expand-image,
#chat-reload-image,
#chat-detach-image {
  transition: all 0.25s ease;
  padding: 9px 8px;
}

#run-button:hover #run-button-image,
#media-button:hover #media-button-image,
#colorpicker:hover #colorpicker-image,
#chat-expand:hover #chat-expand-image,
#chat-reload:hover #chat-reload-image,
#chat-detach:hover #chat-detach-image {
  background: radial-gradient(alpha(#db4740, 0.75), transparent 90%);
}

#shutdown, #reboot, #logout, #suspend, #lock {
  transition: all 0.25s ease;
  padding: 10px 8px;
  /* background-color: #000; */
  border-radius: 8px;
  /* border: 1px solid #1b1d1d; */
}

#shutdown:hover,
#reboot:hover,
#logout:hover,
#suspend:hover,
#lock:hover {
  background: radial-gradient(alpha(#db4740, 0.75), transparent 90%);
}

#power-event {
	transition: all 0.25s ease;
	/* padding: 9px 8px; */
	background-color: #000;
	border-radius: 8px;
	border: 1px solid #1b1d1d;
}

#power-event-hover {
	transition: all 0.25s ease;
	/* padding: 9px 8px; */
	background-color: #000;
	border-radius: 8px;
	border: 1px solid #1b1d1d;
  background: linear-gradient(#000000, #1b1d1d);
}

#system-tray {
  background-color: #000;
	border: 1px solid #1b1d1d;
	border-radius: 8px;
	padding: 10px 0;
}

tooltip {
	background-color: #000;
	border: 1px solid #1b1d1d;
	border-radius: 8px;
	padding: 10px;
}

menu {
	background-color: #000;
	border: 1px solid #1b1d1d;
	border-radius: 8px;
	padding: 10px;
}

menuitem {
	background-color: #000;
	border-radius: 4px;
	padding: 5px;
}

menuitem:hover {
  background-color: #0a0b0c;
}

menuitem:hover label {
  color: #db4740;
}

#dashboard-box {
	background-color: #000;
	/* padding: 0 0 4px 4px; */
	min-width: 300px;
}

#chat-box {
  transition: all 0.5s ease;
	background-color: #000;
  /* border-radius: 8px; */
  /* border: 1px solid #1b1d1d; */
	/* padding: 0 0 4px 4px; */
	min-width: 300px;
}

#content-box {
	background-color: #000;
	padding: 4px;
	padding-right: 0px;
	min-width: 300px;
}

#applets {
	border-radius: 8px;
	margin-right: 0px;
	min-height: 52px;
}

#wifi-button,
#bluetooth-button,
#night-button,
#dnd-button {
  background: linear-gradient(to bottom, #000000 0%, #000000 95%, #b1b946 95%, #b1b946 100%);
	border: 1px solid #1b1d1d;
	border-radius: 8px;
}

#wifi-button-off,
#bluetooth-button-off,
#night-button-off,
#dnd-button-off {
  background: linear-gradient(to bottom, #000000 0%, #000000 95%, #928374 95%, #928374 100%);
  border: 1px solid #1b1d1d;
  border-radius: 8px;
}

#wifi-button:hover,
#bluetooth-button:hover,
#night-button:hover,
#dnd-button:hover {
  background: linear-gradient(to bottom, #000000 0%, #1b1d1d 95%, #b1b946 95%, #b1b946 100%);
}

#wifi-button-off:hover,
#bluetooth-button-off:hover,
#night-button-off:hover,
#dnd-button-off:hover {
  background: linear-gradient(to bottom, #000000 0%, #1b1d1d 95%, #928374 95%, #928374 100%);
}

/* #wifi-box, #bluetooth-box { */
/*   border: 1px solid #1b1d1d; */
/*   border-radius: 8px; */
/*   padding: 8px; */
/*   min-height: 256px; */
/* } */

#wifi-box {
  border: 1px solid #1b1d1d;
  border-radius: 8px;
  padding: 8px;
  min-height: 256px;
  background-color: #f00;
}

#bluetooth-box {
  border: 1px solid #1b1d1d;
  border-radius: 8px;
  padding: 8px;
  min-height: 256px;
  background-color: #00f;
}

#cpu_circular-progress-bar {
	color: #0a0b0c;
	border: solid 5px #db4740;
}

#memory_circular-progress-bar {
	color: #0a0b0c;
	border: solid 5px #80aa9e;
}

#battery_circular-progress-bar {
	color: #0a0b0c;
	border: solid 5px #b1b946;
}

#circular-progress-bar-container {
	background-color: #000;
	border: 1px solid #1b1d1d;
	border-radius: 8px;
	margin-right: 0px;
	margin-top: 0px;
	padding: 8px;
}

#calendar.view {
  background-color: #000;
  border: 1px solid #1b1d1d;
  border-radius: 8px;
}

#calendar.header {
  background-color: #0a0b0c;
  border: 1px solid #1b1d1d;
  border-radius: 8px 8px 0 0;
}

#calendar:selected {
  /* background-color: #db4740; */
  border-radius: 4px;
  /* color: #000; */
  color: #db4740;
}

#ai-chat {
  border-radius: 8px;
  border: 1px solid #1b1d1d;
}

#user {
  background-color: #000;
  border: 1px solid #1b1d1d;
  border-radius: 8px;
  padding: 8px;
}

#user-image {
  background-size: cover;
  background-position: center;
  border-radius: 8px;
  border: 1px solid #1b1d1d;
  min-width: 48px;
  min-height: 48px;
}

#user-label {
  color: #e0cda5;
  margin-left: 8px;
  font-weight: bold;
  font-size: 14pt;
}

#host-label {
  color: #928374;
  margin-left: 8px;
  font-weight: bold;
  font-style: italic;
  font-size: 11pt;
}

#ext {
  background-color: #000;
  border: 1px solid #1b1d1d;
  border-radius: 8px;
  /* padding: 8px; */
}

#apps {
  min-height: 512px;
}

#full-player {
  background-color: #000;
  border: 1px solid #1b1d1d;
  border-radius: 8px;
  padding: 8px;
}

#cover {
  background-size: cover;
  background-position: center;
  border-radius: 8px;
  border: 1px solid #1b1d1d;
  /* margin-bottom: 5px; */
  margin-right: 5px;
  padding: 8px;
  min-height: 100px;
}

#play-button, #skip-back-button, #skip-forward-button, #prev-button, #next-button {
  transition: all 0.25s ease;
  padding: 8px;
  /* background-color: #000; */
  /* border-radius: 8px; */
  /* border: 1px solid #1b1d1d; */
}

#play-button:hover, #skip-back-button:hover, #skip-forward-button:hover, #prev-button:hover, #next-button:hover {
  background: radial-gradient(alpha(#e0cda5, 0.75), transparent 90%);
}

#title {
  font-size: 14pt;
}

#artist {
  font-size: 11pt;
  font-style: italic;
  color: #928374;
}

#title, #artist {
  text-shadow: 0px 0px 5px #000000;
}

#ext-label {
  color: #47423e;
  font-size: 20pt;
  font-weight: bold;
  font-style: italic;
}
