@mixin section {
  background-color: $bg1;
  border-radius: 0px;
  padding: 4px 8px;
}

@mixin button {
  &:hover {
    background-color: $bg2;
  }
}

@mixin control_button {
  &:hover label {
    color: $fg2;
  }
}

.bar {
  background-color: $bg;
  border-right: solid $bg2 1px;
  padding: 8px 4px;

  & .divider {
    background-color: $bg1;
    min-height: 2px;
    margin: 2px 0;
  }

  & .sections {
    & .start {
      & .sidebar_button {
        & box {
          background-size: cover;
          border-radius: 999px;
          min-width: 32px;
          min-height: 32px;
        }
      }

      & .search_button {
        @include section;
        @include button;

        & label {
          font-size: 18px;
          padding-right: 4px;
        }
      }

      & .wallpaper_button {
        @include section;
        @include button;

        & label {
          font-size: 20px;
          padding-right: 6px;
        }
      }

      & .systray {
        & .apps {
          margin-top: 8px;
        }

        & .systray_button {
          font-size: 21px;
        }
      }
    }

    & .center {
      & .workspace_indicator {
        @include section;
        padding: 1rem 0;

        & .workspace {
          background-color: $fg;
          border-radius: 8px;
          min-width: 10px;
          min-height: 10px;
          transition: min-height 100ms cubic-bezier(1, 0, 0, 1);

          &.active {
            background-color: $yellow;
            min-height: 42px;
          }

          &:hover {
            background-color: $fg2;
          }
        }
      }
    }

    & .end {
      & .controls {
        @include section;

        & .audio_control_button {
          @include control_button;

          font-size: 20px;
          padding-right: 2px;
        }

        & .system_control_button {
          @include control_button;

          font-size: 20px;
          padding-right: 4px;
        }

        & .screenshot_button {
          @include control_button;

          font-size: 20px;
          padding-right: 6px;
        }
      }

      & .time_indicator {
        @include section;
        @include button;

        font-size: 14px;
        font-weight: 500;
      }
    }
  }
}

.systray_menu {
  background-color: $bg1;
  border-radius: 8px;
  padding: 1rem;

  & menuitem {
    border-radius: 4px;
    padding: 4px 8px;

    &:hover {
      background-color: $bg2;
    }
  }
}

@import "./menu/style.scss";
@import "./sidebar/style.scss";
