/**
 * @name AxWal
 * @description Discord Pywal theme, based on DiscordRecolor.
 * @author Axenide
 * @version 1.0.0
*/

@import url('https://mwittrien.github.io/BetterDiscordAddons/Themes/DiscordRecolor/DiscordRecolor.css');

:root {
  --accentcolor: 143,40,53;
  --accentcolor2: 171,39,52;
  --linkcolor: 235,48,68;
  --mentioncolor: 248,44,56;
  --textbrightest: 225,158,155,1;
  --textbrighter: 225,158,155,0.87;
  --textbright: 225,158,155,0.73;
  --textdark: 225,158,155,0.55;
  --textdarker: 225,158,155,0.45;
  --textdarkest: 225,158,155,0.33;
  --font: gg sans;
  --backgroundaccent: 3,18,11;
  --backgroundprimary: 3,18,11;
  --backgroundsecondary: 3,18,11;
  --backgroundsecondaryalt: 3,18,11;
  --backgroundtertiary: 3,18,11;
  --backgroundfloating: 3,18,11;
  --settingsicons: 1;
}

/* Any custom CSS below here */


