/**
 * @name AxWal
 * @description Discord Pywal theme, based on DiscordRecolor.
 * @author Axenide
 * @version 0.0.1
 * @donate https://www.paypal.me/Axenide
 * @kofi https://www.ko-fi.com/Axenide
 * @website https://zaap.bio/Axenide
 * @source https://github.com/Axenide/Dotfiles
 * @BDEditor DiscordRecolor
*/

@import url('https://mwittrien.github.io/BetterDiscordAddons/Themes/DiscordRecolor/DiscordRecolor.css');

:root {
  --accentcolor: 140,61,69;
  --accentcolor2: 145,68,75;
  --linkcolor: 232,110,82;
  --mentioncolor: 208,81,86;
  --textbrightest: 234,192,148,1;
  --textbrighter: 234,192,148,0.87;
  --textbright: 234,192,148,0.73;
  --textdark: 234,192,148,0.55;
  --textdarker: 234,192,148,0.45;
  --textdarkest: 234,192,148,0.33;
  --font: gg sans;
  --backgroundaccent: 15,16,19;
  --backgroundprimary: 15,16,19;
  --backgroundsecondary: 15,16,19;
  --backgroundsecondaryalt: 15,16,19;
  --backgroundtertiary: 15,16,19;
  --backgroundfloating: 15,16,19;
  --settingsicons: 1;
}

/* Any custom CSS below here */


