/**
 * @name AxWal
 * @description Discord Pywal theme, based on DiscordRecolor.
 * @author Axenide
 * @version 1.0.0
*/

@import url('https://mwittrien.github.io/BetterDiscordAddons/Themes/DiscordRecolor/DiscordRecolor.css');

:root {
  --accentcolor: 98,58,68;
  --accentcolor2: 59,68,74;
  --linkcolor: 186,96,108;
  --mentioncolor: 145,55,73;
  --textbrightest: 197,180,185,1;
  --textbrighter: 197,180,185,0.87;
  --textbright: 197,180,185,0.73;
  --textdark: 197,180,185,0.55;
  --textdarker: 197,180,185,0.45;
  --textdarkest: 197,180,185,0.33;
  --font: gg sans;
  --backgroundaccent: 2,19,26;
  --backgroundprimary: 2,19,26;
  --backgroundsecondary: 2,19,26;
  --backgroundsecondaryalt: 2,19,26;
  --backgroundtertiary: 2,19,26;
  --backgroundfloating: 2,19,26;
  --settingsicons: 1;
}

/* Any custom CSS below here */


