.menu {
  background-color: $bg1;
  border-radius: 8px;
  margin: 0 0 8px 8px;

  &.audio_controls {
    min-height: 200px;
    padding: 1rem;

    & .slider_container {
      & .slider {
        & trough {
          background-color: $bg2;
          border-radius: 8px;
        }

        & highlight {
          border-radius: 8px;
          min-width: 10px;
        }
      }

      &.global_volume {
        padding-right: 2px;

        & .slider highlight {
          background-color: $blue;
        }

        & .icon {
          font-size: 15px;
          padding-right: 4px;
        }
      }

      &.music_volume {
        padding-right: 4px;

        & .slider highlight {
          background-color: $aqua;
        }

        & .icon {
          font-size: 16px;
        }
      }

      &.input_volume {
        padding-right: 4px;

        & .slider highlight {
          background-color: $green;
        }

        & .icon {
          font-size: 16px;
        }
      }
    }
  }

  &.system_controls {
    min-height: 200px;
    padding: 1rem;

    & .slider_container {
      & .slider {
        & trough {
          background-color: $bg2;
          border-radius: 8px;
        }

        & highlight {
          border-radius: 8px;
          min-width: 10px;
        }
      }

      &.brightness {
        & .slider highlight {
          background-color: $fg;
        }

        & .icon {
          font-size: 15px;
          padding-right: 4px;
        }
      }
    }
  }

  &.calendar {
    & .widget {
      padding: 0.3rem 0.5rem;

      & button {
        color: $orange;
      }
    }
  }
}
