@import './colors.css';

@define-color surface-strongest mix(@background, @foreground, 0.00);
@define-color surface-strong mix(@background, @foreground, 0.05);
@define-color surface-moderate mix(@background, @foreground, 0.10);
@define-color surface-weak mix(@background, @foreground, 0.15);
@define-color surface-weakest mix(@background, @foreground, 0.20);

@define-color white-strongest @foreground;
@define-color white-strong alpha(@foreground, 0.87);
@define-color white-moderate alpha(@foreground, 0.34);
@define-color white-weak alpha(@foreground, 0.14);
@define-color white-weakest alpha(@foreground, 0.06);

@define-color black-strongest @background;
@define-color black-strong alpha(@background, 0.87);
@define-color black-moderate alpha(@background, 0.42);
@define-color black-weak alpha(@background, 0.15);
@define-color black-weakest alpha(@background, 0.06);

@define-color red-tint alpha(@color1, 0.6);
@define-color red-normal @color1;
@define-color red-light mix(@color1, @foreground, 0.15);
@define-color orange-tint alpha(@color3, 0.6);
@define-color orange-normal @color3;
@define-color orange-light mix(@color3, @foreground, 0.15);
@define-color yellow-normal @color3;
@define-color yellow-light mix(@color3, @foreground, 0.15);
@define-color green-tint alpha(@color2, 0.6);
@define-color green-normal @color2;
@define-color green-light mix(@color2, @foreground, 0.15);
@define-color cyan-normal @color6;
@define-color cyan-light mix(@color6, @foreground, 0.15);
@define-color blue-normal @color4;
@define-color blue-light mix(@color4, @foreground, 0.15);
@define-color purple-normal @color5;
@define-color purple-light mix(@color5, @foreground, 0.15);
@define-color pink-normal @color5;
@define-color pink-light mix(@color5, @foreground, 0.15);

@define-color accent_color @red-light;
@define-color accent_bg_color @red-normal;
@define-color accent_fg_color @white-strong;

@define-color destructive_color @red-light;
@define-color destructive_bg_color @red-tint;
@define-color destructive_fg_color @white-strong;

@define-color success_color @green-light;
@define-color success_bg_color @green-tint;
@define-color success_fg_color @white-strong;

@define-color warning_color @orange-light;
@define-color warning_bg_color @orange-tint;
@define-color warning_fg_color @white-strong;

@define-color error_color @red-light;
@define-color error_bg_color @red-tint;
@define-color error_fg_color @white-strong;

@define-color window_bg_color @surface-strong;
@define-color window_fg_color @white-strong;

@define-color view_bg_color @surface-strong;
@define-color view_fg_color @white-strong;

@define-color headerbar_bg_color @surface-strongest;
@define-color headerbar_fg_color @white-strong;
@define-color headerbar_border_color @surface-moderate;
@define-color headerbar_backdrop_color @surface-strongest;
@define-color headerbar_shade_color @surface-strongest;

@define-color card_bg_color @white-weakest;
@define-color card_fg_color @white-strong;
@define-color card_shade_color @white-weak;

@define-color dialog_bg_color @surface-weak;
@define-color dialog_fg_color @white-strong;

@define-color popover_bg_color @surface-weakest;
@define-color popover_fg_color @white-strong;

@define-color shade_color @black-strongest;
@define-color scrollbar_outline_color @white-weakest;

@define-color borders transparent;

@define-color sidebar_bg_color @surface-strongest;
@define-color sidebar_fg_color @white-strong;
@define-color sidebar_backdrop_color @surface-strongest;
@define-color sidebar_shade_color @surface-strongest;


/*
window contents {
    background: @surface-strongest;
    box-shadow: none;
}
*/

popover contents, popover arrow {
	background: @surface-weakest;
}

.solid-csd {
	padding: 0;
}

headerbar {
    padding: 0.3em;
    padding-top: calc(0.3em + 3px);
}
