dots/.config/tmux/plugins/
dots/.config/hypr/nbash (curl -L https://zellij.dev/launch | psub)vidia.conf
dots/.config/hypr/source/keyboard.conf
dots/.config/hypr/source/colors.conf
dots/.config/fabric/bar/styles/themes/wal.css
dots/.config/kitty/wal.conf
dots/.config/kitty/slurp.sh
dots/.config/swaync/colors.css
dots/.config/nvim/lua/themes/axwal.lua
dots/.config/vesktop/themes/axwal.theme.css
dots/.config/yazi/theme.toml
dots/.config/swaylock/config
dots/.config/zathura/zathurarc
**/*.uuid
**/__pycache__
**/venv
dots/.config/yazi/theme.toml
dots/.config/yazi/theme.toml
dots/.config/gtk-4.0/colors.css
dots/.config/gtk-3.0/colors.css
dots/.config/nvim/pywal
dots/.config/kitty/mat.conf
dots/.config/fabric/bar_test
dots/.config/fish/api.fish
dots/.config/fabric/bar/styles/themes/mat.css
dots/.zen/*
dots/.zen/Zen/*
!dots/.zen/Zen/
!dots/.zen/Zen/chrome/
!dots/.zen/Zen/user.js
!dots/.zen/Zen/zen-themes.json
dots/.config/nvim/lazy-lock.json
dots/.config/fabric/styles/colors.css
dots/.config/kitty/colors.conf
dots/.config/vesktop/themes/axnight.theme.css
dots/.config/hypr/source/nvidia.conf
dots/.config/fabric/styles/colors.sass
dots/.zen/Zen/chrome/zen-themes.css
dots/.config/vesktop/themes/axmat.theme.css
