dots/.config/tmux/plugins/
dots/.config/hypr/nvidia.conf
dots/.config/hypr/source/keyboard.conf
dots/.config/hypr/source/colors.conf
dots/.config/fabric/bar/styles/themes/wal.css
dots/.config/kitty/wal.conf
dots/.config/kitty/slurp.sh
dots/.config/swaync/colors.css
term/.config/nvim/lua/themes/axwal.lua
dots/.config/vesktop/themes/axwal.theme.css
dots/.config/yazi/theme.toml
dots/.config/swaylock/config
dots/.config/zathura/zathurarc
**/*.uuid
**/__pycache__
**/venv
dots/.config/yazi/theme.toml
term/.config/yazi/theme.toml
dots/.config/gtk-4.0/colors.css
dots/.config/gtk-3.0/colors.css
term/.config/nvim/pywal
