#sidebar-splitter2 {
  appearance: none !important;
  position: absolute !important;
  width: 5px !important;
  margin: -2px !important;
}

.tabbrowser-tab .tab-content {
    border-radius: 8px;
    border: 1px solid black;
    position: relative;
    left: 2px;
}

.tabbrowser-tab .tab-icon-image {
    position: relative !important;
    right: 2px !important;
}

.tabbrowser-tab[selected] .tab-content {
    border: 1px solid #db474080;
}

.tabbrowser-tab:not([selected]) .tab-content {
    opacity: 0.5 !important;
}

.tabbrowser-tab[pinned] .tab-content {
    background-color: #db474050;
}

.tabbrowser-tab[pinned] .tab-icon-image {
    position: relative !important;
    right: 5px !important;
}

.urlbar-input-box {
  text-align: center !important;
}

.browserContainer {
  background-color: var(--lwt-accent-color);
}

:root:not([sizemode="fullscreen"]) #appcontent
  > #tabbrowser-tabbox
  > #tabbrowser-tabpanels
  > .deck-selected
  > .browserContainer
  > .browserStack
  > browser {
  border-radius: 6px !important;
  border: 1px solid #1b1d1d !important;
  margin-top: -1px !important;
  margin-bottom: 4px !important;
  margin-left: 4px !important;
  margin-right: 2px !important;
 }

.browser-sidebar2 browser {
  margin-left: -3px;
  margin-right: 1px;
  margin-bottom: -5px;
  margin-top: -3px;
  border-radius: 6px !important;
  border: 0px solid #1b1d1d !important;
}

#sidebar2-header {
  display: none;
}

#identity-box,
#tracking-protection-icon-container,
#page-action-buttons {
  transition: opacity 0.3s ease;
  opacity: 0;
  width: 0;
}

#urlbar-background {
  margin-top: 0px !important;
  border-radius: 6px !important;
  background: linear-gradient(#000000, #1b1d1d) !important;
}

#urlbar:hover #identity-box,
#urlbar:hover #tracking-protection-icon-container,
#urlbar:hover #page-action-buttons {
  opacity: 1;
  width: auto;
}

#TabsToolbar:hover {
  transition: all 500ms !important;
  transition-delay: 0.0s !important;
}

#TabsToolbar {
  margin-right: 0px !important;
}

#appcontent {
  margin-left: 0px !important;
}

#sidebar {
  padding: 1px !important;
  margin-right: -5px !important;
  margin-left: 5px !important;
}

#sidebar-box {
  transition: all 0.5s ease !important;
}

#sidebar-select-box {
  position: relative !important;
  right: 2px !important;
  margin: 0 -2px !important;
}

#splitview-splitter {
  margin: -3px !important;
  width: 4px !important;
}