#sidebar-splitter2 {
  appearance: none !important;
  width: 0px !important;;  /* Set initial width */
}

.tabbrowser-tab:not([selected]) .tab-content {
    opacity: 0.5 !important; /* Oscurecer las pestañas no seleccionadas al 50% */
}
