/*
┌─────────────────────────────────────────────────────────────────┐
│                                                                 │
│     ░█░█░█▀▀░█▀▀░█▀▄░█▀▀░█░█░█▀▄░█▀█░█▄█░█▀▀░░░░█▀▀░█▀▀░█▀▀     │
│     ░█░█░▀▀█░█▀▀░█▀▄░█░░░█▀█░█▀▄░█░█░█░█░█▀▀░░░░█░░░▀▀█░▀▀█     │
│     ░▀▀▀░▀▀▀░▀▀▀░▀░▀░▀▀▀░▀░▀░▀░▀░▀▀▀░▀░▀░▀▀▀░▀░░▀▀▀░▀▀▀░▀▀▀     │
│                                                                 │
└─────────────────────────────────────────────────────────────────┘
*/

#alltabs-button,
.titlebar-buttonbox-container,
#page-action-buttons,
#tracking-protection-icon-container,
#identity-box {
	display: none;
}

#titlebar {
	z-index: 2;
}

@media (-moz-bool-pref: "animatedFox.squareCorners") {
	:root * {
		border-radius: 0px !important;
	}
}

@media (-moz-bool-pref: "animatedFox.hideSingleTab") {
	.tabbrowser-tab:only-of-type {
		height: 5px !important;
		opacity: 0 !important;
		
		#titlebar:has(&):after {
			content: '';
			position: fixed !important;
			right: 0;
			left: 0;
			top: 0;
			height: 1rem;
		}

		:has(&) #navigator-toolbox:is(:hover, :focus-within, :has([open])) #nav-bar {
			top: 1rem !important;
		}
	}

	:has(.tabbrowser-tab:only-of-type) #nav-bar {
		top: -3rem !important;
	}
}

@media (-moz-bool-pref: "animatedFox.showTabCloseButton") {
	#tabbrowser-tabs .tabbrowser-tab:not([pinned], [selected]):hover .tab-close-button {
		display: flex !important;
		border-radius: 999px !important;
	}
}

#nav-bar {
	position: fixed !important;
	top: 0;
	left: 25%;
	right: 25%;

	@media (max-width: 1100px) {
		left: 15%;
		right: 15%;
	}

	@media (max-width: 800px) {
		left: 30px;
		right: 30px;
	}

	z-index: 1;
	transition: top 0.3s cubic-bezier(0.270, 0.910, 0.435, 1),
	opacity 0.1s ease !important;
	border-top: none !important;
	border-radius: 20px;
	border: 2px solid var(--tab-selected-bgcolor) !important;
	background: color-mix(in srgb, var(--toolbar-bgcolor), black 75%) !important;
	opacity: 0;
	overflow: visible !important;
	
	&::after {
		content: "";
		position: absolute;
		width: 100%;
		height: 1rem;
		top: -1rem;
	}
}

#navigator-toolbox {
	border-bottom: none !important;
}

#tabs-newtab-button {
	opacity: 0;
	transition: 0.2s opacity ease;
}

#navigator-toolbox:not(:hover, :focus-within) #nav-bar {
	transition-delay: 0.2s !important;
		box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5) !important;
}

#navigator-toolbox:is(:hover, :focus-within) {
	#nav-bar {
		top: 3.5rem;
		opacity: 1;
		box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5) !important;
	}

	#tabs-newtab-button {
		opacity: 1;
	}
}

:where(.tab-background) {
	box-shadow: none !important;
	border-radius: 10px !important;
}

.tab-close-button {
	display: none;
}

.tabbrowser-tab {
	transition: min-width 0.3s cubic-bezier(0.270, 0.910, 0.435, 1), max-width 0.3s cubic-bezier(0.270, 0.910, 0.435, 1), height 0.1s ease !important;
	height: 100%;

	&[fadein]:not([pinned]) {
		max-width: 175px !important;
	}

	&[selected]:not([pinned]) {
		min-width: 250px !important;
		max-width: 250px !important;
	}
}

:where(#urlbar-background) {
	border-radius: 20px !important;
	border: none !important;
	background: color-mix(in srgb, var(--toolbar-bgcolor), black 0%) !important;
  outline: none !important;
  transition: .15s !important;
}

/*  Removes the background from the urlbar while not in use  */
#urlbar:not(:hover):not([breakout][breakout-extend]) > #urlbar-background {
    box-shadow: none !important;
  	background: color-mix(in srgb, var(--toolbar-bgcolor), black 0%) !important;
}

.urlbarView-url {
	color: var(--toolbar-color) !important;
}

#tabbrowser-arrowscrollbox {
	min-width: 100vw !important;
}


@media (-moz-bool-pref: "animatedFox.centeredTabs") {
	#tabbrowser-arrowscrollbox:not([overflowing]) {
		--uc-flex-justify: center;
	}

	scrollbox[orient="horizontal"] {
		justify-content: var(--uc-flex-justify, initial);
	}
}

@media (-moz-bool-pref: "animatedFox.centeredUrl") {
	#nav-bar {
		text-align: center;
		padding: 0px !important;
	}
}

@media (-moz-bool-pref: "animatedFox.roundedCorners") {

	:root[sizemode="fullscreen"] #navigator-toolbox[style*="margin-top"]+#browser,
	:root[sizemode="fullscreen"] #browser {
		--uc-rc-padding: 0;
		--uc-rc-radius: 0;
	}

	#main-window[BookmarksToolbarOverlapsBrowser] .newTabBrowserPanel,
	#main-window[BookmarksToolbarOverlapsBrowser] #sidebar-box {
		padding-top: 0 !important;
	}

	#main-window[BookmarksToolbarOverlapsBrowser] #browser {
		margin-top: var(--bookmarks-toolbar-overlapping-browser-height);
	}

	#navigator-toolbox {
		border-bottom: none !important;
	}

	#main-window:not([chromehidden~="toolbar"]) {
		--uc-rc-padding: 5px;
		--uc-rc-radius: 10px 10px 6px 6px;
		
		:has(.tabbrowser-tab:only-of-type) {
			--uc-rc-radius: 6px;
		}

		--uc-browser-frame-bgcolor: color-mix(in srgb, var(--toolbar-bgcolor), black 75%) !important;

		#appcontent .browserStack {
			margin-inline: var(--uc-rc-padding) !important;
			margin-bottom: var(--uc-rc-padding) !important;
			border-radius: var(--uc-rc-radius) !important;
			background-color: color-mix(in srgb, var(--toolbar-bgcolor), black 75%) !important;
			position: relative !important;

			&::after {
				content: "";
				position: absolute;
				inset: 0;
				border-radius: inherit;
				box-shadow: 0 0 0 16px color-mix(in srgb, var(--toolbar-bgcolor), black 75%) !important; !important;
				border: 0px solid var(--tab-selected-bgcolor) !important;
				clip-path: inset(0);
				pointer-events: none;
			}
		}

		#statuspanel {
			overflow: hidden;
		}

		.devtools-toolbox-side-iframe {
			margin-block-end: var(--uc-rc-padding) !important;
			border-radius: var(--uc-rc-radius) !important;
			overflow: hidden !important;
			box-shadow: color-mix(in srgb, var(--toolbar-bgcolor), black 75%) !important;

			&:first-child {
				margin-inline-start: var(--uc-rc-padding) !important;
			}

			&:last-child {
				margin-inline-end: var(--uc-rc-padding) !important;
			}
		}

		.devtools-toolbox-bottom-iframe {
			margin-inline: var(--uc-rc-padding) !important;
			margin-block-start: 0 !important;
			border-radius: var(--uc-rc-radius) !important;
			overflow: hidden !important;
			box-shadow: color-mix(in srgb, var(--toolbar-bgcolor), black 75%) !important;
		}

		.devtools-side-splitter,
		.devtools-horizontal-splitter {
			background-color: color-mix(in srgb, var(--toolbar-bgcolor), black 75%) !important;
		}

		.browserContainer.responsive-mode {
			background-color: color-mix(in srgb, var(--toolbar-bgcolor), black 75%) !important;

			& .rdm-toolbar {
				margin-inline: var(--uc-rc-padding) !important;
				border-top-left-radius: var(--uc-rc-radius) !important;
				border-top-right-radius: var(--uc-rc-radius) !important;
				width: calc(100% - var(--uc-rc-padding) * 2) !important;
			}
		}

		:not(:root[inFullscreen] #navigator-toolbox[style*="margin-top"])+#browser #sidebar-splitter {
			border-inline-width: 0 !important;
		}

		#browser {
			background-color: color-mix(in srgb, var(--toolbar-bgcolor), black 75%) !important;
		}

		#tabbrowser-tabpanels {
			background-color: color-mix(in srgb, var(--toolbar-bgcolor), black 75%) !important;
		}
	}

	#sidebar-box {
		margin-inline: var(--uc-rc-padding) !important;
		margin-bottom: var(--uc-rc-padding) !important;
		border-radius: var(--uc-rc-radius) !important;
		background-color: color-mix(in srgb, var(--toolbar-bgcolor), black 75%) !important;
		position: relative !important;

		&::after {
			content: "";
			position: absolute;
			inset: 0;
			border-radius: inherit;
			box-shadow: 0 0 0 16px color-mix(in srgb, var(--toolbar-bgcolor), black 75%) !important;
			border: 1px solid var(--tab-selected-bgcolor) !important;
			clip-path: inset(0);
			pointer-events: none;
		}
	}
}

#PlacesToolbarItems {
  display: flex;
  justify-content: center;
}

#unified-extensions-view {
  --uei-icon-size: 16px;

  > .panel-header {
    display: none !important;

    + toolbarseparator {
      border-top: none !important;
      margin-bottom: var(--arrowpanel-menuitem-margin-inline) !important;
    }
  }

  .unified-extensions-item {
    margin-block: 0 !important;

    .unified-extensions-item-message-deck {
      display: none;
    }

    > .unified-extensions-item-menu-button {
      list-style-image: url("chrome://global/skin/icons/more.svg") !important;
      padding: 0 0 0 var(--arrowpanel-menuitem-margin-inline) !important;

      > .toolbarbutton-icon {
        border: none !important;
      }
    }
  }
}

#urlbar .search-one-offs {
  display: none !important
}

scrollbox {
	background: color-mix(in srgb, var(--toolbar-bgcolor), black 75%) !important;
}

.bookmark-item[container="true"] [label="Media"] {
	list-style-image: url("data:image/svg+xml;base64,PHN2ZyAgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiAgd2lkdGg9IjI0IiAgaGVpZ2h0PSIyNCIgIHZpZXdCb3g9IjAgMCAyNCAyNCIgIGZpbGw9Im5vbmUiICBzdHJva2U9IiNmZmZmZmYiICBzdHJva2Utd2lkdGg9IjIiICBzdHJva2UtbGluZWNhcD0icm91bmQiICBzdHJva2UtbGluZWpvaW49InJvdW5kIiAgY2xhc3M9Imljb24gaWNvbi10YWJsZXIgaWNvbnMtdGFibGVyLW91dGxpbmUgaWNvbi10YWJsZXItbW92aWUiPjxwYXRoIHN0cm9rZT0ibm9uZSIgZD0iTTAgMGgyNHYyNEgweiIgZmlsbD0ibm9uZSIvPjxwYXRoIGQ9Ik00IDRtMCAyYTIgMiAwIDAgMSAyIC0yaDEyYTIgMiAwIDAgMSAyIDJ2MTJhMiAyIDAgMCAxIC0yIDJoLTEyYTIgMiAwIDAgMSAtMiAtMnoiIC8+PHBhdGggZD0iTTggNGwwIDE2IiAvPjxwYXRoIGQ9Ik0xNiA0bDAgMTYiIC8+PHBhdGggZD0iTTQgOGw0IDAiIC8+PHBhdGggZD0iTTQgMTZsNCAwIiAvPjxwYXRoIGQ9Ik00IDEybDE2IDAiIC8+PHBhdGggZD0iTTE2IDhsNCAwIiAvPjxwYXRoIGQ9Ik0xNiAxNmw0IDAiIC8+PC9zdmc+") !important;
}

.bookmark-item[container="true"] [label="Design"] {
	list-style-image: url("data:image/svg+xml;base64,PHN2ZyAgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiAgd2lkdGg9IjI0IiAgaGVpZ2h0PSIyNCIgIHZpZXdCb3g9IjAgMCAyNCAyNCIgIGZpbGw9Im5vbmUiICBzdHJva2U9IiNmZmZmZmYiICBzdHJva2Utd2lkdGg9IjIiICBzdHJva2UtbGluZWNhcD0icm91bmQiICBzdHJva2UtbGluZWpvaW49InJvdW5kIiAgY2xhc3M9Imljb24gaWNvbi10YWJsZXIgaWNvbnMtdGFibGVyLW91dGxpbmUgaWNvbi10YWJsZXItcGFsZXR0ZSI+PHBhdGggc3Ryb2tlPSJub25lIiBkPSJNMCAwaDI0djI0SDB6IiBmaWxsPSJub25lIi8+PHBhdGggZD0iTTEyIDIxYTkgOSAwIDAgMSAwIC0xOGM0Ljk3IDAgOSAzLjU4MiA5IDhjMCAxLjA2IC0uNDc0IDIuMDc4IC0xLjMxOCAyLjgyOGMtLjg0NCAuNzUgLTEuOTg5IDEuMTcyIC0zLjE4MiAxLjE3MmgtMi41YTIgMiAwIDAgMCAtMSAzLjc1YTEuMyAxLjMgMCAwIDEgLTEgMi4yNSIgLz48cGF0aCBkPSJNOC41IDEwLjVtLTEgMGExIDEgMCAxIDAgMiAwYTEgMSAwIDEgMCAtMiAwIiAvPjxwYXRoIGQ9Ik0xMi41IDcuNW0tMSAwYTEgMSAwIDEgMCAyIDBhMSAxIDAgMSAwIC0yIDAiIC8+PHBhdGggZD0iTTE2LjUgMTAuNW0tMSAwYTEgMSAwIDEgMCAyIDBhMSAxIDAgMSAwIC0yIDAiIC8+PC9zdmc+") !important;
}

.bookmark-item[container="true"] [label="Dev"] {
	list-style-image: url("data:image/svg+xml;base64,PHN2ZyAgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiAgd2lkdGg9IjI0IiAgaGVpZ2h0PSIyNCIgIHZpZXdCb3g9IjAgMCAyNCAyNCIgIGZpbGw9Im5vbmUiICBzdHJva2U9IiNmZmZmZmYiICBzdHJva2Utd2lkdGg9IjIiICBzdHJva2UtbGluZWNhcD0icm91bmQiICBzdHJva2UtbGluZWpvaW49InJvdW5kIiAgY2xhc3M9Imljb24gaWNvbi10YWJsZXIgaWNvbnMtdGFibGVyLW91dGxpbmUgaWNvbi10YWJsZXItY29kZSI+PHBhdGggc3Ryb2tlPSJub25lIiBkPSJNMCAwaDI0djI0SDB6IiBmaWxsPSJub25lIi8+PHBhdGggZD0iTTcgOGwtNCA0bDQgNCIgLz48cGF0aCBkPSJNMTcgOGw0IDRsLTQgNCIgLz48cGF0aCBkPSJNMTQgNGwtNCAxNiIgLz48L3N2Zz4=") !important;
}

.bookmark-item[container="true"] [label="Study"] {
	list-style-image: url("data:image/svg+xml;base64,PHN2ZyAgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiAgd2lkdGg9IjI0IiAgaGVpZ2h0PSIyNCIgIHZpZXdCb3g9IjAgMCAyNCAyNCIgIGZpbGw9Im5vbmUiICBzdHJva2U9IiNmZmZmZmYiICBzdHJva2Utd2lkdGg9IjIiICBzdHJva2UtbGluZWNhcD0icm91bmQiICBzdHJva2UtbGluZWpvaW49InJvdW5kIiAgY2xhc3M9Imljb24gaWNvbi10YWJsZXIgaWNvbnMtdGFibGVyLW91dGxpbmUgaWNvbi10YWJsZXItc2Nob29sIj48cGF0aCBzdHJva2U9Im5vbmUiIGQ9Ik0wIDBoMjR2MjRIMHoiIGZpbGw9Im5vbmUiLz48cGF0aCBkPSJNMjIgOWwtMTAgLTRsLTEwIDRsMTAgNGwxMCAtNHY2IiAvPjxwYXRoIGQ9Ik02IDEwLjZ2NS40YTYgMyAwIDAgMCAxMiAwdi01LjQiIC8+PC9zdmc+") !important;
}

.bookmark-item[container="true"] [label="Myself"] {
	list-style-image: url("data:image/svg+xml;base64,PHN2ZyAgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiAgd2lkdGg9IjI0IiAgaGVpZ2h0PSIyNCIgIHZpZXdCb3g9IjAgMCAyNCAyNCIgIGZpbGw9Im5vbmUiICBzdHJva2U9IiNmZmZmZmYiICBzdHJva2Utd2lkdGg9IjIiICBzdHJva2UtbGluZWNhcD0icm91bmQiICBzdHJva2UtbGluZWpvaW49InJvdW5kIiAgY2xhc3M9Imljb24gaWNvbi10YWJsZXIgaWNvbnMtdGFibGVyLW91dGxpbmUgaWNvbi10YWJsZXItbWV0ZW9yIj48cGF0aCBzdHJva2U9Im5vbmUiIGQ9Ik0wIDBoMjR2MjRIMHoiIGZpbGw9Im5vbmUiLz48cGF0aCBkPSJNMjEgM2wtNSA5aDVsLTYuODkxIDcuMDg2YTYuNSA2LjUgMCAxIDEgLTguODU1IC05LjUwNmw3Ljc0NiAtNi41OGwtMSA1bDkgLTV6IiAvPjxwYXRoIGQ9Ik05LjUgMTQuNW0tMi41IDBhMi41IDIuNSAwIDEgMCA1IDBhMi41IDIuNSAwIDEgMCAtNSAwIiAvPjwvc3ZnPg==") !important;
}

#PersonalToolbar {
    visibility: visible !important;
    opacity: 0.01;
    -moz-transition: visibility 0.5s, opacity 0.5s ease !important;
    position: fixed !important;
    bottom: 1rem;
    display: flex;
    border-radius: 20px;
    padding: 0px !important;
    width: 25rem;
    z-index: 1;
	  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5) !important;
    left: 50%;
    transform: translateX(-50%);
}


#navigator-toolbox #PersonalToolbar {
    visibility: visible !important;
    opacity: 1;   
}

.bookmark-item label {
	visibility: visible !important;
}