/* Confirm Dialog */

@import "colors.rasi"

* {
    background-color:       @bg;
    text-color:             @fg;
	font:				 	"Iosevka Nerd Font Italic 11";
}

window {
    width:      			225px;
    padding:    			25px;
    border:					1px;
    border-radius:          10px;
    border-color:           @ac;
    location:               center;
    y-offset:               0em;
}

entry {
    expand: 				true;
    text-color:				@ac;
}
