/*
┌─────────────────────────────────────────────────────────────────┐
│                                                                 │
│     ░█░█░█▀▀░█▀▀░█▀▄░█▀▀░█░█░█▀▄░█▀█░█▄█░█▀▀░░░░█▀▀░█▀▀░█▀▀     │
│     ░█░█░▀▀█░█▀▀░█▀▄░█░░░█▀█░█▀▄░█░█░█░█░█▀▀░░░░█░░░▀▀█░▀▀█     │
│     ░▀▀▀░▀▀▀░▀▀▀░▀░▀░▀▀▀░▀░▀░▀░▀░▀▀▀░▀░▀░▀▀▀░▀░░▀▀▀░▀▀▀░▀▀▀     │
│                                                                 │
└─────────────────────────────────────────────────────────────────┘
*/

#personal-bookmarks .bookmark-item[container="true"] .toolbarbutton-icon {
 display:none!important;
}

#PlacesToolbarItems {
  display: flex !important;
  justify-content: center !important;
}