.app_launcher {
  background-color: $bg;
  border-right: solid $bg2 1px;
  padding: 8px;
  min-width: 300px;

  & .header {
    background-color: $bg2;
    border-radius: 8px;
    padding: 8px;

    & .icon {
      font-size: 20px;
      font-weight: 200;
    }

    & .input_container {
      & .input {
        border: solid $gray 1px;
        border-radius: 8px;
        font-size: 16px;
        padding: 4px 8px;
      }

      & .placeholder {
        font-weight: 900;
        font-size: 16px;
        color: $gray;
        padding-left: 8px;
      }
    }
  }

  & .apps {
    & .app {
      background-color: $bg1;
      border-radius: 8px;
      padding: 8px;

      &:hover {
        background-color: $bg2;
      }

      &.selected {
        background-color: $blue;
      }

      &:focus {
        background-color: $blue;
      }
    }
  }
}
