#search-entry {
  font-weight: bold;
  background-color: var(--surface);
  color: var(--foreground);
  border-radius: 16px;
  padding: 10px;
}

#search-entry selection {
  color: var(--background);
  background-color: var(--primary);
}

#close-button {
  background-color: var(--surface);
  border-radius: 16px;
  padding: 10px;
}

#close-button:hover,
#close-button:focus {
  background-color: var(--surface-bright);
}

#close-button:active {
  background-color: var(--primary);
}

#close-label {
  color: var(--shadow);
  background-color: var(--error-dim);
  font-size: 16px;
  padding: 4px;
  border-radius: 999px;
}

#scrolled-window {
  border-radius: 16px;
}

#scrolled-window scrollbar {
  border-radius: 10px;
  background-color: var(--surface);
  padding: 4px;
  margin-left: 6px;
}

#scrolled-window slider {
  border-radius: 8px;
  min-width: 16px;
  min-height: 48px;
  background-color: var(--primary);
}

#app-slot-button {
  border-radius: 16px;
  padding: 16px;
  transition: padding 0.25s cubic-bezier(0.5, 0.25, 0, 1);
  animation: loadSlot 0.5s ease;
}

@keyframes loadSlot {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#app-slot-button:hover,
#app-slot-button:focus {
  background-color: var(--surface-bright);
  padding-left: 24px;
}

#app-slot-button:active {
  background-color: var(--primary);
}

#app-icon {
  margin-right: 8px;
}

#app-label {
  color: var(--foreground);
  font-weight: bold;
}

#app-slot-button:hover #app-label,
#app-slot-button:focus #app-label {
  color: var(--primary);
}

#app-slot-button:active #app-label {
  color: var(--shadow);
}
