#notification-action-buttons button.start-action {
  border-radius: 20px;
}

#notification-action-buttons button {
  background-color: var(--surface);
  padding: 8px;
}

#notification-action-buttons button:hover {
  background-color: var(--surface-bright);
}

#notification-action-buttons button:active {
  background-color: var(--primary);
}

#notification-action-buttons button:active #button-label {
  color: var(--shadow);
}

#notification-image image {
  border-radius: 16px;
}

#notification-summary,
#button-label {
  font-weight: bold;
}

#notification-summary {
  font-weight: bold;
  color: var(--primary);
}

#notification-app-name {
  color: var(--outline);
}

#action-button {
  margin-top: 8px;
}
