#power-menu-button {
  border-radius: 20px;
  padding: 16px;
}

#power-menu-button label {
  font-size: 24px;
  color: var(--foreground);
}

#power-menu-button:hover,
#power-menu-button:focus {
  background-color: var(--surface-bright);
}

#power-menu-button:hover label,
#power-menu-button:focus label {
  color: var(--primary);
}

#power-menu-button:active {
  background-color: var(--primary);
}

#power-menu-button:active label {
  color: var(--shadow);
}
