#wallpaper-icons {
  opacity: 1;
  animation: fade-in 0.25s ease-in-out;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#wallpaper-icons:selected {
  background-color: var(--surface-bright);
  border-radius: 8px;
}

#dropdown-box {
  background-color: var(--surface);
  padding: 8px;
}

#scheme-dropdown > * > * {
  font-weight: bold;
  color: var(--shadow);
}

#scheme-dropdown.box button.box.cellview {
  background-color: var(--primary);
}

#scheme-dropdown.box button.box.cellview:selected {
  background-color: var(--surface-bright);
}
