/**
 * @name AxWal
 * @description Discord Pywal theme, based on DiscordRecolor.
 * @author Axenide
 * @version 1.0.0
*/

@import url('https://mwittrien.github.io/BetterDiscordAddons/Themes/DiscordRecolor/DiscordRecolor.css');

:root {{
  --accentcolor: {color1.rgb};
  --accentcolor2: {color2.rgb};
  --linkcolor: {color6.rgb};
  --mentioncolor: {color4.rgb};
  --textbrightest: {foreground.rgb},1;
  --textbrighter: {foreground.rgb},0.87;
  --textbright: {foreground.rgb},0.73;
  --textdark: {foreground.rgb},0.55;
  --textdarker: {foreground.rgb},0.45;
  --textdarkest: {foreground.rgb},0.33;
  --font: gg sans;
  --backgroundaccent: {background.rgb};
  --backgroundprimary: {background.rgb};
  --backgroundsecondary: {background.rgb};
  --backgroundsecondaryalt: {background.rgb};
  --backgroundtertiary: {background.rgb};
  --backgroundfloating: {background.rgb};
  --settingsicons: 1;
}}

/* Any custom CSS below here */


