* {
    background:     {{colors.shadow.default.hex}};
    background-alt: {{colors.surface.default.hex}};
    foreground:     {{colors.on_background.default.hex}};
    selected:       {{colors.primary.default.hex}};
    active:         {{colors.primary.default.hex}};
    urgent:         {{colors.error.default.hex}};
}
