#chat-box {
  transition: all 0.5s ease;
}

#chat-url {
  transition: all 0.25s ease;
  background-color: @background;
  border-radius: 6px;
  border: 2px solid @darkgray;
  padding: 9px 0;
}

#chat-url label {
  transition: all 0.25s ease;
  color: @lightgray;
}

#chat-url:hover {
  background: linear-gradient(@background, @darkgray);
}

#chat-url:hover label {
  color: @white;
  text-shadow: 0px 0px 5px alpha(@white, 0.5);
}
