#chat-box {
  transition: all 0.5s ease;
}

#chat-url {
  transition: all 0.25s ease;
  background-color: #000;
  border-radius: 6px;
  border: 1px solid #1b1d1d;
  padding: 9px 0;
}

#chat-url label {
  transition: all 0.25s ease;
  color: #928374;
}

#chat-url:hover {
  background: linear-gradient(#000000, #1b1d1d);
}

#chat-url:hover label {
  color: #e0cda5;
  text-shadow: 0px 0px 5px alpha(#e0cda5, 0.5);
}
