#applets {
	border-radius: 10px;
	margin-right: 0px;
	min-height: 50px;
}

#wifi-button,
#bluetooth-button,
#night-button,
#dnd-button {
  background-color: @background;
  transition: all 0.1s ease;
	border: 2px solid alpha(@foreground, 0.1);
	border-bottom: 2px solid @color2;
	border-radius: 10px;
}

#wifi-button-off,
#bluetooth-button-off,
#night-button-off,
#dnd-button-off {
  background-color: @background;
  transition: all 0.1s ease;
	border: 2px solid alpha(@foreground, 0.1);
	border-bottom: 2px solid @color8;
  border-radius: 10px;
}

#wifi-button:hover,
#bluetooth-button:hover,
#night-button:hover,
#dnd-button:hover {
  background-color: alpha(@foreground, 0.1);
}

#wifi-button-off:hover,
#bluetooth-button-off:hover,
#night-button-off:hover,
#dnd-button-off:hover {
  background-color: alpha(@foreground, 0.1);
}

#wifi-button > *,
#bluetooth-button > *,
#night-button > *,
#dnd-button > * {
  color: @foreground;
  font-size: 20px;
  font-weight: normal;
}

#wifi-button-off > *,
#bluetooth-button-off > *,
#night-button-off > *,
#dnd-button-off > * {
  color: @color8;
  font-size: 20px;
  font-weight: normal;
}
