#applets {
	border-radius: 6px;
	margin-right: 0px;
	min-height: 52px;
}

#wifi-button,
#bluetooth-button,
#night-button,
#dnd-button {
  transition: all 0.25s ease;
  background: linear-gradient(to bottom, @background 0%, @background 95%, @green 95%, @green 100%);
	border: 2px solid @darkgray;
	border-radius: 6px;
}

#wifi-button-off,
#bluetooth-button-off,
#night-button-off,
#dnd-button-off {
  background: linear-gradient(to bottom, @background 0%, @background 95%, @lightgray 95%, @lightgray 100%);
  border: 2px solid @darkgray;
  border-radius: 6px;
}

#wifi-button:hover,
#bluetooth-button:hover,
#night-button:hover,
#dnd-button:hover {
  background: linear-gradient(to bottom, @background 0%, @darkgray 95%, @green 95%, @green 100%);
}

#wifi-button-off:hover,
#bluetooth-button-off:hover,
#night-button-off:hover,
#dnd-button-off:hover {
  transition: all 0.25s ease;
  background: linear-gradient(to bottom, @background 0%, @darkgray 95%, @lightgray 95%, @lightgray 100%);
}

#wifi-button > *,
#bluetooth-button > *,
#night-button > *,
#dnd-button > * {
  color: @white;
  font-family: "tabler-icons";
  font-size: 20px;
  font-weight: normal;
}

#wifi-button-off > *,
#bluetooth-button-off > *,
#night-button-off > *,
#dnd-button-off > * {
  color: @lightgray;
  font-family: "tabler-icons";
  font-size: 20px;
  font-weight: normal;
}
