#applets {
	border-radius: 6px;
	margin-right: 0px;
	min-height: 52px;
}

#wifi-button,
#bluetooth-button,
#night-button,
#dnd-button {
  transition: all 0.25s ease;
  background: linear-gradient(to bottom, #000000 0%, #000000 95%, #b1b946 95%, #b1b946 100%);
	border: 1px solid #1b1d1d;
	border-radius: 6px;
}

#wifi-button-off,
#bluetooth-button-off,
#night-button-off,
#dnd-button-off {
  background: linear-gradient(to bottom, #000000 0%, #000000 95%, #928374 95%, #928374 100%);
  border: 1px solid #1b1d1d;
  border-radius: 6px;
}

#wifi-button:hover,
#bluetooth-button:hover,
#night-button:hover,
#dnd-button:hover {
  background: linear-gradient(to bottom, #000000 0%, #1b1d1d 95%, #b1b946 95%, #b1b946 100%);
}

#wifi-button-off:hover,
#bluetooth-button-off:hover,
#night-button-off:hover,
#dnd-button-off:hover {
  transition: all 0.25s ease;
  background: linear-gradient(to bottom, #000000 0%, #1b1d1d 95%, #928374 95%, #928374 100%);
}
