#search-entry {
  transition: all 0.1s ease;
  color: @foreground;
  background-color: @background;
  border: 2px solid alpha(@foreground, 0.1);
  border-radius: 10px;
  padding: 9px;
}

#search-entry selection {
  color: @background;
  background-color: @color1;
}

#search-entry:focus {
  color: @foreground;
  border: 2px solid @color1;
}

#app-scroll {
  color: @foreground;
  background-color: @background;
  border: 2px solid alpha(@foreground, 0.1);
  border-radius: 10px;
  padding: 4px;
}

#app-button, #app-button-focus {
  transition: margin 0.1s ease;
  color: @foreground;
  padding: 10px;
}

#app-button:focus, #app-button:hover {
  color: @color1;
  margin-left: 10px;
}
