#search-entry {
  transition: all 0.1s ease;
  color: @foreground;
  background-color: mix(black, @background, 0.30);
  /*border: 2px solid mix(@foreground, @background, 0.9);*/
  border-radius: 20px;
  padding: 9px;
}

#search-entry selection {
  color: @background;
  background-color: @color1;
}

#search-entry:focus {
  color: @foreground;
  background-color: mix(@foreground, @background, 0.9);
}

#app-scroll {
  color: @foreground;
  background-color: mix(black, @background, 0.30);
  /*border: 2px solid mix(@foreground, @background, 0.9);*/
  border-radius: 20px;
  padding: 8px;
}

#app-button, #app-button-focus, #calc-button, #calc-button-focus {
  transition: margin 0.1s ease;
  color: @foreground;
  padding: 10px;
}

#app-button:focus, #app-button:hover, #calc-button:focus, #calc-button:hover {
  color: @color1;
  margin-left: 10px;
}
