#time-button {
  transition: all 0.1s ease;
  color: @foreground;
	background-color: @background;
	border: 2px solid alpha(@foreground, 0.1);
	border-radius: 10px;
	padding: 11px;
}

#time-button:hover {
  background-color: alpha(@foreground, 0.1);
}

#run-button,
#media-button,
#colorpicker,
#chat-expand,
#chat-reload,
#chat-detach {
	transition: all 0.1s ease;
	background-color: @background;
	border-radius: 10px;
	border: 2px solid alpha(@foreground, 0.1);
}

#run-button:hover,
#media-button:hover,
#colorpicker:hover,
#chat-expand:hover,
#chat-reload:hover,
#chat-detach:hover {
  background-color: alpha(@foreground, 0.1);
}

#run-button > *,
#media-button > *,
#colorpicker > *,
#chat-expand > *,
#chat-reload > *,
#chat-detach > * {
  color: @color1;
  font-size: 20px;
  font-weight: normal;
  transition: all 0.1s ease;
  padding: 8px 8px;
}

#run-button:hover > *,
/* #media-button:hover > *, */
#colorpicker:hover > *,
#chat-expand:hover > *,
#chat-reload:hover > *,
#chat-detach:hover > * {
  text-shadow:
  0 0 5px @color1,
  0 0 5px @color1,
  0 0 5px @color1;
}

#colorpicker > * {
  color: @color4;
}

#colorpicker:hover > * {
  text-shadow:
  0 0 5px @color4,
  0 0 5px @color4,
  0 0 5px @color4;
}

#media-button > * {
  color: @color5;
}

#media-button:hover > * {
  text-shadow:
  0 0 5px @color5,
  0 0 5px @color5,
  0 0 5px @color5;
}

#power-event {
	transition: all 0.1s ease;
	background-color: @background;
	border-radius: 10px;
	border: 2px solid alpha(@foreground, 0.1);
}

#power-event-hover {
	transition: all 0.1s ease;
	background-color: @background;
	border-radius: 10px;
	border: 2px solid alpha(@foreground, 0.1);
  background-color: alpha(@foreground, 0.1);
}

#shutdown > *,
#reboot > *,
#logout > *,
#suspend > *,
#lock > * {
  font-size: 20px;
  font-weight: normal;
  transition: all 0.1s ease;
  padding: 10px 8px;
}

#shutdown > * {
  color: @color1;
}

#reboot > * {
  color: @color3;
}

#logout > * {
  color: @color2;
}

#suspend > * {
  color: @color4;
}

#lock > * {
  color: @color5;
}

#shutdown:hover > * {
  text-shadow:
  0 0 5px @color1,
  0 0 5px @color1,
  0 0 5px @color1;
}

#reboot:hover > * {
  text-shadow:
  0 0 5px @color3,
  0 0 5px @color3,
  0 0 5px @color3;
}

#logout:hover > * {
  text-shadow:
  0 0 5px @color2,
  0 0 5px @color2,
  0 0 5px @color2;
}

#suspend:hover > * {
  text-shadow:
  0 0 5px @color4,
  0 0 5px @color4,
  0 0 5px @color4;
}

#lock:hover > * {
  text-shadow:
  0 0 5px @color5,
  0 0 5px @color5,
  0 0 5px @color5;
}
