#time-button {
  transition: all 0.1s ease;
  color: @foreground;
	background-color: mix(black, @background, 0.30);
	/*border: 2px solid mix(@foreground, @background, 0.9);*/
  border-right: none;
	border-radius: 20px;
	padding: 10px 0;
}

#time-button:hover {
  background-color: mix(@foreground, @background, 0.9);
}

#media-button,
#colorpicker {
	transition: all 0.1s ease;
	background-color: mix(black, @background, 0.30);
	border-radius: 20px;
  padding: 2px 0;
	/*border: 2px solid mix(@foreground, @background, 0.9);*/
  border-right: none;
}

#common-button {
	transition: all 0.1s ease;
	background-color: mix(black, @background, 0.30);
	border-radius: 20px;
	/*border: 2px solid mix(@foreground, @background, 0.9);*/
}

#media-button:hover,
#colorpicker:hover,
#common-button:hover, #common-button:focus {
  background-color: mix(@foreground, @background, 0.9);
}

#media-button > *,
#colorpicker > * {
  color: @color1;
  font-size: 20px;
  font-weight: normal;
  transition: all 0.1s ease;
  padding: 6px 5px;
}

#common-button > * {
  color: @color1;
  font-size: 20px;
  font-weight: normal;
  transition: all 0.1s ease;
  padding: 6px 9px;
}

#colorpicker > * {
  color: @color4;
}

#media-button > * {
  color: @color5;
}

#panels-event, #power-event {
	transition: all 0.1s ease;
	background-color: mix(black, @background, 0.30);
	/*background-color: @color1;*/
	/*border: 0px solid alpha(@color1, 1);*/
}

#panels-event {
	border-radius: 0 0 20px 20px;
}

#power-event {
	border-radius: 20px 20px 0 0;
}

#power-shutdown > *,
#power-reboot > *,
#power-logout > *,
#power-suspend > *,
#power-lock > *,
#common-button-1 > * {
  color: @color1;
  /*color: @background;*/
  font-size: 20px;
  font-weight: normal;
  padding: 4px;
  margin: 4px;
  border-radius: 999px;
}

#power-shutdown:hover > *, #power-shutdown:focus > *,
#power-reboot:hover > *, #power-reboot:focus > *,
#power-logout:hover > *, #power-logout:focus > *,
#power-suspend:hover > *, #power-suspend:focus > *,
#power-lock:hover > *, #power-lock:focus > *,
#common-button-1:hover > *, #common-button-1:focus > * {
  color: @background;
  background-color: @color1;
}

#shutdown-confirm > *, #reboot-confirm > *, #logout-confirm > *, #suspend-confirm > * {
  color: @background;
  font-size: 20px;
  font-weight: normal;
  padding: 4px;
  margin: 4px;
  border-radius: 999px;
  /*padding: 6px;*/
  /*margin: 4px 3px 4px 5px;*/
  border-radius: 999px;
}

#shutdown-confirm:hover > *, #reboot-confirm:hover > *, #logout-confirm:hover > *, #suspend-confirm:hover > * {
  color: @foreground;
  background-color: alpha(@foreground, 0.2);
}

#confirm-box {
  /*background-color: @background;*/
  background-color: mix(black, @background, 0.30);
  margin: 4px;
  border-radius: 999px;
}

#accept, #cancel {
  color: alpha(@foreground, 0.30);
  padding: 2px;
  margin: 4px;
  border-radius: 999px;
}

#accept:hover, #cancel:hover {
  color: @foreground;
  /*text-shadow:*/
  /*0 0 5px @foreground,*/
  /*0 0 5px @foreground,*/
  /*0 0 5px @foreground;*/
}
