#calendar {
  color: @lightgray;
  font-size: 12pt;
}

#calendar.view {
  background-color: @background;
  border: 2px solid @darkgray;
  border-radius: 6px;
}

#calendar.header {
  color: @magenta;
  background-color: @black;
  border: 2px solid @darkgray;
  border-radius: 6px 8px 0 0;
}

#calendar:selected {
  border-radius: 4px;
  color: @magenta;
}
