#calendar {
  background-color: @background;
  border-radius: 10px;
  border: 2px solid @darkgray;
  padding: 10px;
}

#week-days {
  font-size: 10pt;
  color: @white;
  font-weight: normal;
}

#day, #current-day, #dimmed {
  transition: all 0.25s ease;
  font-size: 10pt;
  margin: 0px;
  padding: 4px 5px;
  margin: 4px 7px;
  border-radius: 999px;
}

#current-day {
  color: @background;
  background-color: @white;
}

#chevron > * {
  font-family: "tabler-icons";
  color: @lightgray;
}

#chevron:hover > * {
  color: @white;
}

#header {
  margin: 8px;
}

#year {
  margin: 0px 8px;
}

#month {
  margin: 0px 8px;
}

#dimmed {
  color: @lightgray;
}
