#calendar {
  color: @warmgray;
}

#calendar.view {
  background-color: @background;
  border: 1px solid @darkgray;
  border-radius: 6px;
}

#calendar.header {
  color: @white;
  background-color: @black;
  border: 1px solid @darkgray;
  border-radius: 6px 8px 0 0;
}

#calendar:selected {
  border-radius: 4px;
  color: @red;
}
