#cpu-circular-progress-bar {
	color: alpha(@foreground, 0.1);
	border: solid 4px @color5;
}

#memory-circular-progress-bar {
	color: alpha(@foreground, 0.1);
	border: solid 4px @color4;
}

#battery-circular-progress-bar {
	color: alpha(@foreground, 0.1);
	border: solid 4px @color2;
}

#disk-circular-progress-bar {
  color: alpha(@foreground, 0.1);
  border: solid 4px @color3;
}

#temp-circular-progress-bar {
  color: alpha(@foreground, 0.1);
  border: solid 4px @color1;
}

#circles-container {
	background-color: @background;
	border: 2px solid alpha(@foreground, 0.1);
	border-radius: 10px;
	margin-right: 0px;
	margin-top: 0px;
	padding: 8px;
}

#temp-icon,
#disk-icon,
#battery-icon,
#memory-icon,
#cpu-icon {
  font-size: 16px;
  font-weight: normal;
}

#cpu-icon {
  color: @color5;
}

#memory-icon {
  color: @color4;
}

#battery-icon {
  color: @color2;
}

#disk-icon {
  color: @color3;
}

#temp-icon {
  color: @color1;
}
