#cpu-circular-progress-bar {
	color: mix(@color5, @background, 0.9);
	border: solid 4px @color5;
}

#memory-circular-progress-bar {
	color: mix(@color4, @background, 0.9);
	border: solid 4px @color4;
}

#battery-circular-progress-bar {
	color: mix(@color2, @background, 0.9);
	border: solid 4px @color2;
}

#disk-circular-progress-bar {
  color: mix(@color3, @background, 0.9);
  border: solid 4px @color3;
}

#temp-circular-progress-bar {
  color: mix(@color1, @background, 0.9);
  border: solid 4px @color1;
}

#circles-container {
	background-color: mix(black, @background, 0.30);
	/*border: 2px solid mix(@foreground, @background, 0.9);*/
	border-radius: 20px;
	margin-right: 0px;
	margin-top: 0px;
	padding: 8px;
}

#temp-icon,
#disk-icon,
#battery-icon,
#memory-icon,
#cpu-icon {
  font-size: 16px;
  font-weight: normal;
}

#cpu-icon {
  color: @color5;
}

#memory-icon {
  color: @color4;
}

#battery-icon {
  color: @color2;
}

#disk-icon {
  color: @color3;
}

#temp-icon {
  color: @color1;
}
