* {
	all: unset;
	font-family: "Iosevka Nerd Font";
	font-weight: bold;
	font-size: 10.5pt;
	/* color: #e0cda5; */
}

#bar {
	/* border-right: solid 1px #1b1d1d; */
	/* background-color: #000; */
	/* border-radius: 10px; */
	/* margin-right: 10px; */
  padding: 4px;
	/* box-shadow: 0px 0px 5px rgba(0, 0, 0, 1); */
}

#workspaces {
	border-radius: 6px;
	padding: 13px;
	border: 1px solid #1b1d1d;
	background-color: #000;
}

#workspaces>button {
  border: 2px solid #e0cda5;
	border-radius: 999px;
	min-width: 6px;
	min-height: 6px;
	transition: all 0.5s cubic-bezier(0, 1, 0, 1);
}

#workspaces>button>label {
	font-size: 0pt;
}

#workspaces>button.active {
  border: 2px solid #db4740;
	min-height: 48px;
}

#workspaces>button.empty {
  border: 2px solid #47423e;
}

#workspaces>button:hover {
  border: 2px solid #db4740;
}

#time-button {
  transition: all 0.25s ease;
  color: #e0cda5;
	background-color: #000000;
	border: 1px solid #1b1d1d;
	border-radius: 6px;
	padding: 11px;
}

#time-button:hover {
  background: linear-gradient(#000000, #1b1d1d);
}

#time-separator {
	font-size: 14px;
}

#time-separator.day {
	margin: 0px 0px 0px -5px;
}

#time-separator.night {
	margin: 0px 0px 0px -2px;
}

#module-separator {
	margin: 0px 10px;
	padding: 1px;
	background-color: #1b1d1d;
	border-radius: 999px;
}

#chat-url {
  transition: all 0.25s ease;
  background-color: #000;
  border-radius: 6px;
  border: 1px solid #1b1d1d;
  padding: 9px 0;
}

#chat-url label {
  transition: all 0.25s ease;
  color: #928374;
}

#chat-url:hover {
  background: linear-gradient(#000000, #1b1d1d);
}

#chat-url:hover label {
  color: #e0cda5;
  text-shadow: 0px 0px 5px alpha(#e0cda5, 0.5);
}

#run-button,
#media-button,
#colorpicker,
#chat-expand,
#chat-reload,
#chat-detach {
	transition: all 0.25s ease;
	background-color: #000;
	border-radius: 6px;
	border: 1px solid #1b1d1d;
}

#run-button:hover,
#media-button:hover,
#colorpicker:hover,
#chat-expand:hover,
#chat-reload:hover,
#chat-detach:hover {
  background: linear-gradient(#000000, #1b1d1d);
}

#run-button-image,
#media-button-image,
#colorpicker-image,
#chat-expand-image,
#chat-reload-image,
#chat-detach-image {
  transition: all 0.25s ease;
  padding: 9px 8px;
}

#run-button:hover #run-button-image,
#media-button:hover #media-button-image,
#colorpicker:hover #colorpicker-image,
#chat-expand:hover #chat-expand-image,
#chat-reload:hover #chat-reload-image,
#chat-detach:hover #chat-detach-image {
  background: radial-gradient(alpha(#db4740, 0.75), transparent 90%);
}

#shutdown, #reboot, #logout, #suspend, #lock {
  transition: all 0.25s ease;
  padding: 10px 8px;
  border-radius: 6px;
}

#shutdown:hover,
#reboot:hover,
#logout:hover,
#suspend:hover,
#lock:hover {
  background: radial-gradient(alpha(#db4740, 0.75), transparent 90%);
}

#power-event {
	transition: all 0.25s ease;
	background-color: #000;
	border-radius: 6px;
	border: 1px solid #1b1d1d;
}

#power-event-hover {
	transition: all 0.25s ease;
	background-color: #000;
	border-radius: 6px;
	border: 1px solid #1b1d1d;
  background: linear-gradient(#000000, #1b1d1d);
}

#system-tray {
  background-color: #000;
	border: 1px solid #1b1d1d;
	border-radius: 6px;
	padding: 10px 0;
}

tooltip {
	background-color: #000;
	border: 1px solid #1b1d1d;
	border-radius: 6px;
	padding: 10px;
}

menu {
	background-color: #000;
	border: 1px solid #1b1d1d;
	border-radius: 6px;
	padding: 10px;
}

menuitem {
	background-color: #000;
	border-radius: 4px;
	padding: 5px;
}

menuitem:hover {
  background-color: #0a0b0c;
}

menuitem:hover label {
  color: #db4740;
}

#dashboard {
	/* background-color: #000; */
	min-width: 300px;
}

#chat-box {
  transition: all 0.5s ease;
	/* background-color: #000; */
	min-width: 300px;
}

#content-box {
	/* background-color: #000; */
  /* border-radius: 10px; */
	padding: 4px;
	padding-right: 0px;
	min-width: 300px;
}

#applets {
	border-radius: 6px;
	margin-right: 0px;
	min-height: 52px;
}

#wifi-button,
#bluetooth-button,
#night-button,
#dnd-button {
  transition: all 0.25s ease;
  background: linear-gradient(to bottom, #000000 0%, #000000 95%, #b1b946 95%, #b1b946 100%);
	border: 1px solid #1b1d1d;
	border-radius: 6px;
}

#wifi-button-off,
#bluetooth-button-off,
#night-button-off,
#dnd-button-off {
  background: linear-gradient(to bottom, #000000 0%, #000000 95%, #928374 95%, #928374 100%);
  border: 1px solid #1b1d1d;
  border-radius: 6px;
}

#wifi-button:hover,
#bluetooth-button:hover,
#night-button:hover,
#dnd-button:hover {
  background: linear-gradient(to bottom, #000000 0%, #1b1d1d 95%, #b1b946 95%, #b1b946 100%);
}

#wifi-button-off:hover,
#bluetooth-button-off:hover,
#night-button-off:hover,
#dnd-button-off:hover {
  transition: all 0.25s ease;
  background: linear-gradient(to bottom, #000000 0%, #1b1d1d 95%, #928374 95%, #928374 100%);
}

#wifi-box {
  border: 1px solid #1b1d1d;
  border-radius: 6px;
  padding: 8px;
  min-height: 256px;
  background-color: #f00;
}

#bluetooth-box {
  border: 1px solid #1b1d1d;
  border-radius: 6px;
  padding: 8px;
  min-height: 256px;
  background-color: #00f;
}

#calendar {
  color: #928374;
}

#calendar.view {
  background-color: #000;
  border: 1px solid #1b1d1d;
  border-radius: 6px;
}

#calendar.header {
  color: #e0cda5;
  background-color: #0a0b0c;
  border: 1px solid #1b1d1d;
  border-radius: 6px 8px 0 0;
}

#calendar:selected {
  border-radius: 4px;
  color: #db4740;
}

#user {
  background-color: #000;
  border: 1px solid #1b1d1d;
  border-radius: 6px;
  padding: 8px;
}

#user-image {
  background-size: cover;
  background-position: center;
  border-radius: 6px;
  border: 1px solid #1b1d1d;
  min-width: 48px;
  min-height: 48px;
}

#user-label {
  color: #e0cda5;
  margin-left: 8px;
  font-weight: bold;
  font-size: 14pt;
}

#host-label {
  color: #928374;
  margin-left: 8px;
  font-weight: bold;
  font-style: italic;
  font-size: 10.5pt;
}

#ext {
  background-color: #000;
  border: 1px solid #1b1d1d;
  border-radius: 6px;
}

#apps {
  min-height: 512px;
}


#ext-label {
  color: #47423e;
  font-size: 16pt;
  font-weight: bold;
  font-style: italic;
}

#ext-label-2 {
  color: #47423e;
  font-size: 10.5pt;
  font-weight: bold;
  font-style: italic;
}

#wall > * {
  transition: all 0.25s ease;
  border-radius: 6px;
  border: 1px solid #1b1d1d;
  /* min-width: 256px; */
  min-height: 128px;
}

#wall:hover > * {
  border: 1px solid #928374;
}

#full-box {
  transition: all 0.5s ease;
  margin: 10px 10px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 1);
  border-radius: 10px;
  border: 1px solid #1b1d1d;
  background-color: alpha(#000, 1.0);
}
