#module-separator {
	margin: 0px 10px;
	padding: 1px;
	background-color: #1b1d1d;
	border-radius: 999px;
}

#system-tray {
  background-color: #000;
	border: 1px solid #1b1d1d;
	border-radius: 6px;
	padding: 10px 0;
}

#content-box {
	padding: 4px;
	padding-right: 0px;
	min-width: 300px;
}

#ext {
  background-color: #000;
  border: 1px solid #1b1d1d;
  border-radius: 6px;
}

#ext-label {
  color: #47423e;
  font-size: 16pt;
  font-weight: bold;
  font-style: italic;
}

#ext-label-2 {
  color: #47423e;
  font-size: 10.5pt;
  font-weight: bold;
  font-style: italic;
}
