#module-separator {
	margin: 0px 10px;
	padding: 1px;
	background-color: @darkgray;
	border-radius: 999px;
}

#system-tray {
  background-color: @background;
	border: 2px solid @darkgray;
	border-radius: 6px;
	padding: 10px 0;
}

#content-box {
	padding: 4px;
	padding-right: 0px;
	min-width: 300px;
}

#ext {
  background-color: @background;
  border: 2px solid @darkgray;
  border-radius: 6px;
}

#ext-label {
  color: @lightgray;
  font-size: 10.5pt;
  font-weight: bold;
  /* font-style: italic; */
}

#bell-label {
  color: @lightgray;
  font-family: "tabler-icons";
  font-size: 40pt;
  font-weight: normal;
}

#ext-label-2 {
  color: @lightgray;
  font-size: 10.5pt;
  font-weight: bold;
  font-style: italic;
}
