tooltip {
  color: @white;
	background-color: @background;
	border: 1px solid @darkgray;
	border-radius: 6px;
	padding: 10px;
}

menu {
  color: @white;
	background-color: @background;
	border: 1px solid @darkgray;
	border-radius: 6px;
	padding: 10px;
}

menuitem {
	background-color: @background;
	border-radius: 4px;
	padding: 5px;
}

menuitem:hover {
  background-color: @black;
}

menuitem:hover label {
  color: @red;
}
