#full-player {
  background-color: mix(black, @background, 0.30);
  /*border: 2px solid mix(@foreground, @background, 0.9);*/
  border-radius: 20px;
  padding: 6px;
  min-height: 100px;
}

#cover {
  background-size: cover;
  background-position: center;
  border-radius: 14px;
  padding: 8px;
}

#player-box {
  /*padding: 0 4px;*/
  margin: 0 4px;
  /*margin-left: 4px;*/
  /*background-color: @background;*/
  /*border: 2px solid mix(@foreground, @background, 0.9);*/
  /*border-radius: 10px;*/
}

#title {
  font-size: 10.30pt;
  color: @foreground;
}

#artist {
  font-size: 9pt;
  font-style: italic;
  color: @foreground;
}

#title, #artist {
  text-shadow: 0px 0px 3px @background;
}

#play-icon,
#pause-icon,
#stop-icon,
#skip-back-icon,
#skip-forward-icon,
#prev-icon,
#next-icon,
#shuffle-icon,
#repeat-icon {
  font-size: 20px;
  font-weight: normal;
}

#play-button,
#skip-back-button,
#skip-forward-button,
#prev-button,
#next-button {
  /*transition: all 0.1s ease;*/
}

#play-button > *,
#skip-back-button > *,
#skip-forward-button > *,
#prev-button > *,
#next-button > * {
  /*transition: all 0.1s ease;*/
  color: @color8;
  font-size: 20px;
  font-weight: normal;
  padding: 3px;
  margin: 3px;
  border-radius: 999px;
}

#play-button:hover > *,
#skip-back-button:hover > *,
#skip-forward-button:hover > *,
#prev-button:hover > *,
#next-button:hover > * {
  color: @color1;
  background-color: @foreground;
}
