#user {
  background-color: mix(black, @background, 0.30);
  /*border: 2px solid mix(@foreground, @background, 0.9);*/
  border-radius: 20px;
  padding: 8px;
}

#user-image {
  background-size: cover;
  background-position: center;
  border-radius: 999px;
  /*border: 2px solid mix(@foreground, @background, 0.9);*/
  box-shadow: 0 0.30px alpha(black, 0.8);
  min-width: 48px;
  min-height: 48px;
}

#user-label {
  color: @foreground;
  margin-left: 8px;
  font-weight: bold;
  font-size: 10.30pt;
}

#host-label {
  color: @color8;
  margin-left: 8px;
  font-weight: bold;
  /* font-style: italic; */
  font-size: 10.30pt;
}
