
#user {
  background-color: @background;
  border: 2px solid @darkgray;
  border-radius: 6px;
  padding: 8px;
}

#user-image {
  background-size: cover;
  background-position: center;
  border-radius: 6px;
  border: 2px solid @darkgray;
  min-width: 48px;
  min-height: 48px;
}

#user-label {
  color: @white;
  margin-left: 8px;
  font-weight: bold;
  font-size: 14pt;
}

#host-label {
  color: @lightgray;
  margin-left: 8px;
  font-weight: bold;
  font-style: italic;
  font-size: 10.5pt;
}
