#user {
  background-color: @background;
  border: 2px solid alpha(@foreground, 0.1);
  border-radius: 10px;
  padding: 8px;
}

#user-image {
  background-size: cover;
  background-position: center;
  border-radius: 999px;
  border: 2px solid alpha(@foreground, 0.1);
  min-width: 48px;
  min-height: 48px;
}

#user-label {
  color: @foreground;
  margin-left: 8px;
  font-weight: bold;
  font-size: 10.5pt;
}

#host-label {
  color: @color8;
  margin-left: 8px;
  font-weight: bold;
  /* font-style: italic; */
  font-size: 10.5pt;
}
