#wallpaper-button > * {
  transition: all 0.25s ease;
  border-radius: 20px;
  min-height: 128px;
  /*margin-bottom: 4px;*/
}

#wallpaper-button:hover > *, #wallpaper-button:focus > * {
  min-height: 200px;
}

#themes-event > * > * {
  border: 2px solid mix(@foreground, @background, 0.9);
  border-radius: 10px;
  background-color: @background;
  padding: 10px;
}

#theme-box {
  border-radius: 10px;
  padding: 10px;
  margin: 2px -10px;
}
