#wallpaper-button > * {
  transition: all 0.25s ease;
  border-radius: 10px;
  min-height: 128px;
  /*margin-bottom: 4px;*/
}

#wallpaper-button:hover > *, #wallpaper-button:focus > * {
  min-height: 200px;
}
