#workspaces {
	border-radius: 6px;
	padding: 13px;
	border: 1px solid @darkgray;
	background-color: @background;
}

#workspaces>button {
  border: 2px solid @white;
	border-radius: 999px;
	min-width: 6px;
	min-height: 6px;
	transition: all 0.5s cubic-bezier(0, 1, 0, 1);
}

#workspaces>button>label {
	font-size: 0pt;
}

#workspaces>button.active {
  border: 2px solid @red;
	min-height: 48px;
}

#workspaces>button.empty {
  border: 2px solid @gray;
}

#workspaces>button:hover {
  border: 2px solid @red;
}
