#workspaces {
	border-radius: 20px;
	padding: 14px;
	/*border: 2px solid mix(@foreground, @background, 0.9);*/
  border-right: none;
  /*padding-right: 14px;*/
	background-color: mix(black, @background, 0.30);
}

#workspaces>button {
  border: 2px solid @foreground;
	border-radius: 999px;
	min-width: 4px;
	min-height: 4px;
	transition: all 0.30s cubic-bezier(0, 1, 0, 1);
}

#workspaces>button>label {
	font-size: 0pt;
}

#workspaces>button.active {
  border: 2px solid @color1;
	min-height: 48px;
}

#workspaces>button.empty {
  border: 2px solid alpha(@foreground, 0.30);
}

#workspaces>button:hover {
  border: 2px solid @color1;
}
