/*
┌──────────────────────────────────┐
│                                  │
│     ░█░█░█▀█░█░█░█▀▄░█▀█░█▀▄     │
│     ░█▄█░█▀█░░█░░█▀▄░█▀█░█▀▄     │
│     ░▀░▀░▀░▀░░▀░░▀▀░░▀░▀░▀░▀     │
│                                  │
└──────────────────────────────────┘
*/

@import "axgruv.css";

* {
	border: none;
	border-radius: 0px;
	font-family: 'Iosevka Nerd Font';
	font-size: 10.5pt;
	font-style: normal;
	min-height: 0;
}

window#waybar {
	background: transparent;
	/* border: 2px solid @brblack; */
	/* border-radius: 10px; */
	/* color: @white; */
}

#workspaces {
  background: black;
  border-radius: 10px;
  padding: 5px 8px;
  margin: 10px;
  box-shadow: 0px 0px 3px rgba(0,0,0,1);
  border: 1px solid @black;
}

#workspaces button {
	border-radius: 0px;
	color: @white;
	/* transition: all 0.25s ease-in-out; */
}

#workspaces button.persistent {
	color: @white;
}

#workspaces button.empty {
    color: @brblack;
}

#workspaces button.active {
  color: @brgreen;
  text-shadow:
    0.25px 0.25px 0 @brgreen,
    -0.25px 0.25px 0 @brgreen,
    -0.25px -0.25px 0 @brgreen,
    0.25px -0.25px 0 @brgreen;
}

#workspaces button:hover {
	background-color: transparent;
	color: @brgreen;
}

#tray {
	padding: 5px 10px;
	margin: 10px 5px;
  background: black;
  border-radius: 10px;
  box-shadow: 0px 0px 3px rgba(0,0,0,1);
  border: 1px solid @black;
}

#clock {
	color: @brgreen;
  background: black;
  border-radius: 10px;
	padding: 5px 14px;
	margin: 10px 10px 10px 0px;
	font-weight: bold;
  box-shadow: 0px 0px 3px rgba(0,0,0,1);
  border: 1px solid @black;
}

#custom-launcher {
	color: @red;
	background: black;
  border-radius: 10px;
	font-family: 'Symbols Nerd Font';
	font-size: 20px;
	padding: 8px 11px 8px 11px;
  margin: 10px 0px 10px 10px;
  box-shadow: 0px 0px 3px rgba(0,0,0,1);
  border: 1px solid @black;
}

#custom-playerctl {
	font-weight: bold;
  /* font-style: italic; */
  background: black;
  color: @white;
  padding: 5px 14px;
  margin: 10px 5px;
  border-radius: 10px;
  box-shadow: 0px 0px 3px rgba(0,0,0,1);
  border: 1px solid @black;
}

#cpu, #memory, #disk, #custom-gpu-usage {
	background-color: #000000;
	border-radius: 16px;
	margin: 5px;
	padding: 0px 10px;
	font-weight: bold;
	border: solid 2px @black;
	box-shadow: 0px 0px 3px rgba(0,0,0,1);
	text-shadow: 0px 0px 3px @white;
  border: 1px solid @black;
}

#custom-hyprpicker, #bluetooth, #network, #pulseaudio, #backlight, #battery, #custom-notifications {
	color: @white;
	font-family: 'Symbols Nerd Font';
	font-size: 10pt;
	margin: 0;
	padding: 0 10px;
}

/* #custom-hyprpicker { */
/*   background: linear-gradient(to left, transparent, @black); */
/*   border-radius: 100px 0 0 100px; */
/*   border-top: solid 3px transparent; */
/*   border-bottom: solid 3px transparent; */
/*   padding-left: 15px; */
/* } */

#bluetooth.connected {
	color: @brgreen;
}

#bluetooth.off {
	color: @brblack;
}

#pulseaudio.muted {
	color: @brblack;
}

#battery.charging {
	color: @brgreen;
}

#battery.warning:not(.charging) {
	color: @red;
}

#group-applets {
  background: black;
  border-radius: 10px;
  padding: 5px 8px;
  margin: 10px 10px 10px 5px;
  box-shadow: 0px 0px 3px rgba(0,0,0,1);
  border: 1px solid @black;
}
