* {
	all: unset;
	font-family: "Iosevka Nerd Font";
	font-weight: bold;
	font-size: 11pt;
	color: #e0cda5;
}

#main-window {
	border-right: solid 1px #1b1d1d;
	background-color: #000;
	border-radius: 0px;
	margin-right: 10px;
	box-shadow: 0px 0px 5px #000000;
}

#workspaces {
	border-radius: 8px;
	padding: 14px;
	border: 1px solid #1b1d1d;
	background-color: #000;
}

#workspaces > button {
	background-color: #e0cda5;
	border-radius: 999px;
	min-width: 8px;
	min-height: 8px;
	transition: all 0.5s cubic-bezier(0, 1, 0, 1);
}

#workspaces > button > label {
	font-size: 0pt;
}

#workspaces > button.active {
	background-color: #db4740;
	min-height: 48px;
}

#workspaces > button.empty {
	background-color: #47423e;
}

#workspaces > button:hover {
	background-color: #db4740;
}

#power-window {
	border: solid 1px;
	background-color: rgba(0, 0, 0, 0.24);
	border-radius: 5px;
	padding: 8px;
}

#shut-down-button,
#reboot-button,
#logout-button {
	border-radius: 2px;
	padding: 7px 12px;
	background-color: #32de8a;
	border-radius: 2px;
}
#shut-down-button {
	background-color: #de6e32;
}

#shut-down-button > label,
#reboot-button > label,
#logout-button > label {
	color: #233c2a;
	font-weight: 900;
	margin-right: 4px;
}

#shut-down-button > label {
	color: #d6f5f0;
}

#time-button {
	background-color: #000000;
	border: 1px solid #1b1d1d;
	border-radius: 8px;
	padding: 11px;
}
#time-button:hover {
  background: linear-gradient(to bottom, #000000 0%, #1b1d1d 100%);
}
#time-separator {
	font-size: 14px;
}
#time-separator.day {
	margin: 0px 0px 0px -5px;
}
#time-separator.night {
	margin: 0px 0px 0px -2px;
}

#module-separator {
	margin: 5px 10px;
	padding: 1px;
	background-color: #1b1d1d;
  border-radius: 999px;
}

#run-button {
	transition: all 0.25s ease;
	padding: 9px 8px;
	background-color: #000;
	border-radius: 8px;
	border: 1px solid #1b1d1d;
}

#run-button > image {
	/* margin: -1px 0px; */
}

#run-button:hover {
  background: linear-gradient(to bottom, #000000 0%, #1b1d1d 100%);
}

#power-button {
	transition: all 0.25s ease;
	padding: 9px 8px;
	background-color: #000;
	border-radius: 8px;
	border: 1px solid #1b1d1d;
}

#power-button:hover {
  background: linear-gradient(to bottom, #000000 0%, #1b1d1d 100%);
}

#colorpicker {
	transition: all 0.25s ease;
	padding: 9px 8px;
	background-color: #000;
	border-radius: 8px;
	border: 1px solid #1b1d1d;
}

#colorpicker:hover {
  background: linear-gradient(to bottom, #000000 0%, #1b1d1d 100%);
}

#media-button {
	transition: all 0.25s ease;
	padding: 9px 8px;
	background-color: #000;
	border-radius: 8px;
	border: 1px solid #1b1d1d;
}

#media-button:hover {
  background: linear-gradient(to bottom, #000000 0%, #1b1d1d 100%);
}

#system-tray {
	border: 1px solid #1b1d1d;
	border-radius: 8px;
	padding: 8px;
}

tooltip {
  background-color: #000;
  border: 1px solid #1b1d1d;
  border-radius: 8px;
  padding: 10px;
}

menu {
  background-color: #000;
  border: 1px solid #1b1d1d;
  border-radius: 8px;
  padding: 10px;
}

menuitem {
  background-color: #000;
  border-radius: 4px;
  padding: 5px;
}

menuitem:hover {
  background-color: #1b1d1d;
}

#content-box {
  background-color: #000;
  min-width: 300px;
}

#content-example {
  background-color: #000;
  border-radius: 8px;
  /* border: 1px solid #1b1d1d; */
  /* margin: 4px; */
  /* margin-right: 0px; */
  /* min-width: 300px; */
  /* min-height: 130px; */
}

#cpu-circular {
  border: 10px solid #db4740;
  color: #db4740;
}

#applets {
  /* border: 1px solid #1b1d1d; */
  border-radius: 8px;
  margin: 4px;
  margin-right: 0px;
  min-height: 52px;
}

#wifi-button, #bluetooth-button, #night-button, #dnd-button {
  background-color: #000;
  border: 1px solid #1b1d1d;
  border-radius: 8px;
}

#wifi-button:hover, #bluetooth-button:hover, #night-button:hover, #dnd-button:hover {
  background: linear-gradient(to bottom, #000000 0%, #1b1d1d 100%);
}

#cpu_circular-progress-bar {
    color: #0a0b0c;
    border: solid 10px #db4740;
}

#memory_circular-progress-bar {
    color: #0a0b0c;
    border: solid 10px #80aa9e;
}

#battery_circular-progress-bar {
    color: #0a0b0c;
    border: solid 10px #b1b946;
}

#circular-progress-bar-container {
    background-color: #000;
    border: 1px solid #1b1d1d;
    border-radius: 8px;
    margin: 4px;
    margin-right: 0px;
    margin-top: 0px;
    padding: 8px;
}
